<div class="header">
    <div class="full">
        <div class="Zendu">
            Zendu Forms
        </div>
        <div class="click">
            <mat-icon>list</mat-icon>
            Forms
        </div>
        <div class="click">
            <mat-icon >people</mat-icon>
            Customers
        </div>
        <div class="click" style="background-color: #0d7bc0;">
            <mat-icon>graphic_eq</mat-icon>
            Submissions
        </div>
        <div class="click">
            <mat-icon>history</mat-icon>
            History
        </div>
        <div class="click">
            <mat-icon>insert_chart_outlined</mat-icon>
            Reports
        </div>
        <div class="click">
            <mat-icon>insert_chart_outlined</mat-icon>
            Workflow
        </div>
    </div>
    <div class="click">
        <mat-icon style="margin-right: 15px;">notifications</mat-icon>
        <mat-icon>logout</mat-icon>
    </div>
</div>
