.header {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    align-items: center;
    background-color: #1297e9;
}

.full {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #1297e9;
}

.Zendu {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-right: 10%;
}

.click {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
}

.mat-icon {
    margin-right: 8px;
}